<%= simple_form_for visualization do |f| %>
  <% if visualization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visualization.errors.count, "error") %> prohibited this visualization from being saved:</h2>

      <ul>
      <% visualization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :style, collection: Visualization::STYLES, include_blank: false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
