<%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'm-t' } do |f| %>
    <%= f.error_notification %>

    <div class="form-group"><%= f.input :email, input_html: { class: 'form-control' } %></div>
    <div class="form-group"><%= f.input :password, input_html: { class: 'form-control' } %></div>

    <!-- <%# if devise_mapping.rememberable? -%>
    <div class="field form-group">
        <%#= f.input :remember_me, inline_label: 'Yes, remember me' %>
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me %>
    </div> -->
    <%# end -%>

    <div class="actions">
        <%= f.button :submit, "Login", class: 'btn btn-primary block full-width m-b' %>
    </div>

    <a href="<%= new_user_password_path %>"><small>Forgot password?</small></a>
    <p class="text-muted text-center"><small>Do not have an account?</small></p>
    <%= link_to "Create an account", new_user_registration_path, class: 'btn btn-sm btn-white btn-block' %>
<% end %>
